{% extends 'appearance/base.html' %}

{% load i18n %}
{% load views_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
    .acl-permission-col {
        max-width: 520px;
        min-width: 320px;
        flex: 1 1 350px;
        border-radius: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <!-- <div class="mb-3 text-muted">
                <strong>{% trans 'For object:' %}</strong> {{ object }}<br>
                <strong>{% trans 'Role:' %}</strong> {{ acl.role }}
            </div> -->
        </div>
    </div>
    <div class="row">
        {% for subtemplate in subtemplates_list %}
            <div class="acl-permission-col {{ subtemplate.column_class }}">
                <div class="card">
                    <div class="card-body">
                        {% views_render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                        {{ rendered_subtemplate|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}